USE [master]
GO
/****** Object:  Database [TreeNode]    Script Date: 12/9/2015 1:13:53 PM ******/
CREATE DATABASE [TreeNode]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TreeNode', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TreeNode.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TreeNode_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TreeNode_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TreeNode].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TreeNode]
GO
/****** Object:  Table [dbo].[Tree]    Script Date: 12/9/2015 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tree](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeDescription] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TreeNode]    Script Date: 12/9/2015 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeNode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NULL,
	[Text] [nvarchar](50) NULL,
	[Value] [int] NULL,
	[ParentId] [int] NULL,
	[Sort] [nvarchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/9/2015 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTreeMapping]    Script Date: 12/9/2015 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTreeMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TreeId] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
